<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a (click)="scrollToSection('home')">Portfolio</a>
    </div>
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    <div [class.open]="menuOpen" class="menu">
      <ul>
        <li><a (click)="scrollToSection('home')">Home</a></li>
        <li><a (click)="scrollToSection('home')">Sobre mí</a></li>
        <li><a (click)="scrollToSection('experiencia')">Mi Experiencia</a></li>
        <li><a (click)="scrollToSection('proyectos')">Proyectos Chicos</a></li>
        <li><a (click)="scrollToSection('cono')">Conocimientos</a></li>
        <li><a (click)="scrollToSection('redes')">redes</a></li>
      </ul>
    </div>
  </div>
</nav>



