<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<br>
<footer class="bg-[#1e1e2e] text-white py-4 relative" id="redes">
    <div class="container mx-auto px-6 flex flex-col items-center">
      <!-- Nombre y Copyright -->
      <p class="text-lg font-semibold text-[#cdd6f4]">Oscar Medina</p>
      <p class="text-xs text-gray-400">© 2025 - Portafolio Personal</p>
  
      <!-- Redes Sociales -->
      <div class="flex space-x-6 mt-3">
        <a href="https://github.com/oscarin12" target="_blank" class="social-icon">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/oscarinodios/" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/oscarino" target="_blank" class="social-icon">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  
    <!-- Forma decorativa tipo ola (Ahora ocupa todo el ancho) -->
    <div class="absolute bottom-0 left-0 w-full">
      <svg viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" class="w-full h-20">
        <path d="M0,60 C300,120 900,20 1200,60 L1200,120 L0,120 Z" fill="#1e1e2e"></path>
      </svg>
    </div>
  </footer>
  