
    <!-- Pie de Página -->
    <footer class="bg-gray-900 text-gray-300 py-12">
        <div class="max-w-6xl mx-auto px-6">
            <div class="flex flex-col md:flex-row justify-between items-center">
                <div class="mb-6 md:mb-0">
                    <a href="#hero" class="text-2xl font-bold text-blue-400">DevPortfolio</a>
                    <p class="mt-2 text-sm">© 2025 Todos los derechos reservados</p>
                </div>
                <div class="flex space-x-6">
                    <a href="#about" class="hover:text-blue-400">Sobre Mí</a>
                    <a href="#skills" class="hover:text-blue-400">Habilidades</a>
                    <a href="#projects" class="hover:text-blue-400">Proyectos</a>
                    <a href="#contact" class="hover:text-blue-400">Contacto</a>
                     <a href="#experiencia" class="hover:text-blue-400">Experiencias</a>
                </div>
            </div>
            <div class="mt-8 pt-8 border-t border-gray-800 text-center text-sm">
                <p>Diseñado y desarrollado con <i class="fas fa-heart text-red-400"></i> por Oscar Medina</p>
            </div>
        </div>
    </footer>

  