    <!-- Sección Sobre Mí -->
    <section id="about" class="py-20 bg-gray-50 dark:bg-gray-800">
        <div class="max-w-6xl mx-auto px-6">
            <h2 class="text-3xl font-bold text-center mb-12">Sobre <span class="text-blue-500">Mí</span></h2>
            <div class="flex flex-col md:flex-row gap-12">
                <div class="md:w-1/2">
                    <h3 class="text-2xl font-semibold mb-4">Mi Historia</h3>
                    <p class="text-gray-600 dark:text-gray-300 mb-6">
                        Soy un apasionado desarrollador con más de 5 años de experiencia construyendo aplicaciones web. Comencé mi viaje en el desarrollo cuando era estudiante y desde entonces no he dejado de aprender y crecer en este emocionante campo.
                    </p>
                    <p class="text-gray-600 dark:text-gray-300 mb-6">
                        Me especializo en JavaScript moderno, React y Node.js, pero siempre estoy explorando nuevas tecnologías y metodologías para mantenerme al día con las últimas tendencias del desarrollo web.
                    </p>
                    <p class="text-gray-600 dark:text-gray-300">
                        Cuando no estoy codificando, me gusta contribuir a proyectos de código abierto.
                    </p>
                </div>
                <div class="md:w-1/2">
                    <h3 class="text-2xl font-semibold mb-4">Educación</h3>
                    <div class="space-y-6">
                        <div class="bg-white dark:bg-gray-700 p-6 rounded-xl shadow-sm">
                            <h4 class="text-lg font-semibold">Ingeniería de Ejecución en Informática. Mención Desarrollo de Sistemas</h4>
                            <p class="text-gray-500 dark:text-gray-400">Instituto AIEP - 2021 </p>
                        </div>
                        <div class="bg-white dark:bg-gray-700 p-6 rounded-xl shadow-sm">
                            <h4 class="text-lg font-semibold">Carrera PROGRAMACIÓN Y ANÁLISIS DE SISTEMAS</h4>
                            <p class="text-gray-500 dark:text-gray-400">Instituto AIEP - 2019</p>
                        </div>
                        <div class="bg-white dark:bg-gray-700 p-6 rounded-xl shadow-sm">
                            <h4 class="text-lg font-semibold">Certificacion SOPORTE DE HARDWARE Y SOFTWARE</h4>
                            <p class="text-gray-500 dark:text-gray-400">Instituto AIEP - 2018</p>
                        </div>
                         <div class="bg-white dark:bg-gray-700 p-6 rounded-xl shadow-sm">
                            <h4 class="text-lg font-semibold">Certificacion CALIDAD DE SOFTWARE</h4>
                            <p class="text-gray-500 dark:text-gray-400">Instituto AIEP - 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


