



<div class="container" id="home">
  <div class="card">
    <div class="profile">
      <img [src]="imageUrl" alt="Oscar Medina" class="profile-img">

      <h1 class="name">Oscar Medina</h1>
    </div>
    <h2 class="title">Ingeniería de Ejecución en Informática. Mención Desarrollo de Sistemas.</h2>
    
    <div #quienSoy>
      <p class="description">
        Perfil Profesional
         Ingeniero en Informática con experiencia en desarrollo backend y gestión de bases de datos en
         entornos corporativos. Especialista en automatización de procesos, optimización de bases de datos SQL 
         y desarrollo de herramientas internas para mejorar la eficiencia operativa. Con experiencia en gestión de tareas 
         técnicas en JIRA, participación en equipos ágiles y diseño de soluciones para el sector financiero. 
         Enfoque en la mejora continua y compromiso con la calidad del código.
        
      </p>
    </div>
 
  </div>
</div> 


 


