<br><br>
<div class="timeline-container" id="experiencia"  #experiencia>
  <h1 class="title">Experiencia</h1>
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-date">NOV 2021 – ABRIL 2024</div>
      <div class="timeline-content">
        <h3>Developer / Luna Servicios SPA, Santiago</h3>
        <ul>
          <li>Optimización y migración de bases de datos en el sector bancario, asegurando la integridad y rendimiento de los datos en proyectos críticos para Banco Santander (Célula Apolo).</li>
          <li>Desarrollo y automatización de procesos mediante Control-M, gestionando flujos de ejecución y reduciendo tiempos de respuesta en tareas repetitivas.</li>
          <li>Soporte técnico y mantenimiento de la plataforma Debt Manager, asegurando su correcto funcionamiento y optimización de consultas SQL.</li>
          <li>Gestión de tickets en JIRA, asignación de tareas y documentación de procesos para mejorar la trazabilidad y eficiencia del equipo.</li>
          <li>Diseño y mantenimiento de bases de datos SQL, incluyendo la creación de tablas y aseguramiento de calidad en los tipos de datos utilizados antes del despliegue a entornos de producción.</li>
          <li>Desarrollo de herramientas internas en Java para la generación de archivos y optimización de procesos en distintos flujos operativos.</li>
         
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-date">MAR 2019 – JUN 2019</div>
      <div class="timeline-content">
        <h3>Practicante Junior / Archiconstructor limitada, Santiago</h3>
        <ul>
          <li>Desarrollo y mantenimiento de la página web de la empresa, optimizando la experiencia de usuario y mejorando su funcionalidad.</li>
          <li>Soporte técnico y mantenimiento de bases de datos, asegurando su disponibilidad y rendimiento.</li>
          <li>Análisis y desarrollo de soluciones internas, optimizando procesos administrativos mediante herramientas web.</li>
        </ul>
        
      </div>
    </div>
  </div>
</div>