<!-- experiencia -->
<section id="experiencia" class="py-20 bg-gray-50 dark:bg-gray-900">
  <div class="max-w-6xl mx-auto px-6">
    <h2 class="text-3xl font-bold text-center mb-12 text-blue-400">Experiencia</h2>
    <div class="flex flex-col md:flex-row gap-12 ">
      <div class="md:w-1/2 ">
        <h4 class="text-2xl font-semibold mb-4">Developer / Luna Servicios SPA, Santiago</h4>
        <h3 class="text-2xl font-semibold mb-4">NOV 2022 – ABRIL 2024</h3>
        <div class="timeline-item bg-white dark:bg-gray-700 p-6 rounded-xl shadow-sm">
          <div class="timeline-date ">
            <div class="timeline-content ">
              <ul class="text-gray-600 dark:text-gray-300 mb-6 ">
                <li>Optimización y migración de bases de datos en el sector bancario, asegurando la integridad y
                  rendimiento de los datos en proyectos críticos para Banco Santander (Célula Apolo).</li>
                <li>Desarrollo y automatización de procesos mediante Control-M, gestionando flujos de ejecución y
                  reduciendo tiempos de respuesta en tareas repetitivas.</li>
                <li>Soporte técnico y mantenimiento de la plataforma Debt Manager, asegurando su correcto
                  funcionamiento y optimización de consultas SQL.</li>
                <li>Gestión de tickets en JIRA, asignación de tareas y documentación de procesos para mejorar la
                  trazabilidad y eficiencia del equipo.</li>
                <li>Diseño y mantenimiento de bases de datos SQL, incluyendo la creación de tablas y aseguramiento de
                  calidad en los tipos de datos utilizados antes del despliegue a entornos de producción.</li>
                <li>Desarrollo de herramientas internas en Java para la generación de archivos y optimización de
                  procesos en distintos flujos operativos.</li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-1/2">
        <h4 class="text-2xl font-semibold mb-4">Practicante Junior / Archiconstructor limitada, Santiago</h4>
        <h3 class="text-2xl font-semibold mb-4">MAR 2019 – JUN 2019</h3>
        <div class="space-y-6">

          <div class="timeline-item bg-white dark:bg-gray-700 p-6 rounded-xl shadow-sm">
            <div class="timeline-date">

            </div>
            <div class="timeline-content">

              <ul class="text-gray-600 dark:text-gray-300 mb-6 ">
                <li>Desarrollo y mantenimiento de la página web de la empresa, optimizando la experiencia de usuario y
                  mejorando su funcionalidad.</li>
                <li>Soporte técnico y mantenimiento de bases de datos, asegurando su disponibilidad y rendimiento.</li>
                <li>Análisis y desarrollo de soluciones internas, optimizando procesos administrativos mediante
                  herramientas web.</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>